<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>TP_LIST_ADD</title>
</head>
<body>     
<!--/*@thymesVar id="tp" type="com.wangc.test_plan.bean.TestPlanBean"*/-->

<form th:action="@{/tp/modify}" th:method="post" >
<table >
    <input type="hidden" th:name="id" th:value="${tp.id}"/>
    <tr>
        <td >测试计划名称</td>
        <td ><input th:name="tpName" type="text" th:value="${tp.tpName}"  /></td>
    </tr>
    <tr>
        <td >url</td>
        <td ><input th:name="url" type="text" th:value="${tp.url}" /></td>
    </tr>
    <tr>
        <td >测试描述</td>
        <td ><input th:name="description" th:type="text" th:value="${tp.description}"/></td>
    </tr>
    <tr>
        <td >测试数据生成类</td>
        <td ><input th:name="generater" th:id="generater" th:type="text" th:value="${tp.generater}"/></td>
    </tr>
    <tr>
        <td></td>
        <td><input type="submit" id="submit" name="submit"/></td>
    </tr>
    
</table>

</form>
</body>
</html>