<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>测试报告列表</title>
    <style type="text/css">
    </style>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body>
<div th:replace="header::header"></div>
<hr/>
<table class="layui-table" lay-skin="line">
    <thead>
    <tr>
        <th>报告</th>
        <th>创建时间</th>
    </tr>
    </thead>
    <tbody th:each="rp:${rp_list}">
    <tr>
        <td th:name="html_path">
            <span class="layui-breadcrumb" lay-separator="|">
                <a th:href="@{'/report'+${rp['htmlPath']}}" th:text="查看" th:target="_blank"></a>
            </span>
        </td>
        <td th:name="create_time" th:text="${rp.createTime}"></td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script language="javascript">
    layui.use('element', function () {
        var element = layui.element();
    });
</script>
</body>
</html>