<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>执行日志</title>
    <style type="text/css">

    </style>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body>
<div th:replace="header::header"></div>
<hr/>
<!--/*@thymesVar id="log_result" type="com.wangc.test_plan.bean.LogResultBean"*/-->
<input th:type="hidden" id="logPath" name="logPath" th:value="${log_result.logPath}"/>
<input th:type="hidden" id="modifiedTime" name="modifiedTime" th:value="${log_result.modifiedTime}"/>

<table class="layui-table" lay-skin="line">
    <thead>
    <tr>
        <th>执行日志</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <span th:id="content" th:utext="${log_result.content.replace('##@','&lt;br/&gt;')}"></span>
        </td>
    </tr>
    </tbody>
</table>
<script th:src="@{/js/jquery-1.12.3.min.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        setInterval("reflush()", 5000);
    });

    function reflush() {
        location.reload();
    }
</script>
</body>
</html>