<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangc.test_plan.mapper.TPMapper">



    <insert id="insert" parameterType="com.wangc.test_plan.bean.TestPlanBean">
        insert into test_plan(tp_name,url,description,generater) 
        values(#{tpName},#{url},#{description},#{generater})
    </insert>

    <select id="select" parameterType="com.wangc.test_plan.bean.TestPlanBean"
    resultType="com.wangc.test_plan.bean.TestPlanBean">
        select id,tp_name,url,description,generater
        from test_plan
        <where>
            <if test="null!=id">
                and id=#{id}
            </if>
            <if test="null!=tpName">
                and tp_name=#{tpName}
            </if>
            <if test="null!=url">
                and url=#{url}
            </if>
            <if test="null!=description">
                and description=#{description}
            </if>
            <if test="null!=generater">
                and generater=#{generater}
            </if>
        </where> 
    </select>


</mapper>