<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body>

<div th:fragment="header">

    <fieldset class="layui-elem-field layui-field-title">
        <legend>性能测试平台</legend>
    </fieldset>

    <ul class="layui-nav">
        <li class="layui-nav-item"><a href="/">首页</a></li>
        <!--<li class="layui-nav-item layui-this">
            <a href="javascript:;">产品</a>
            <dl class="layui-nav-child">
                <dd><a href="">选项1</a></dd>
                <dd><a href="">选项2</a></dd>
                <dd><a href="">选项3</a></dd>
            </dl>
        </li>-->
        <li class="layui-nav-item"><a href="/tp/add">添加测试计划</a></li>
        <li class="layui-nav-item"><a href="/tp/list">查询测试计划</a></li>
    </ul>
</div>

<div >
    <script th:src="@{/js/jquery-1.12.3.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script language="javascript">
        ////导航的hover效果、二级菜单等功能，需要依赖element模块
        layui.use('element',function(){
            var element = layui.element();
        });
    </script>
</div>

</body>
</html>