<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangc.test_plan.mapper.TPMapper">

    <resultMap id="testPlanBean" type="com.wangc.test_plan.bean.TestPlanBean">
        <id property="id" column="id"></id>
        <result property="tpName" column="tp_name"></result>
        <result property="url" column="url"></result>
        <result property="description" column="description"></result>
        <result property="generater" column="generater"></result>
        <result property="protocol" column="protocol"></result>
        <result property="serverNameIp" column="server_name_ip"></result>
        <result property="portNum" column="port_num"></result>
        <result property="path" column="path"></result>
        <result property="jmxSavePath" column="jmx_save_path"></result>
    </resultMap>


    <insert id="insert" parameterType="com.wangc.test_plan.bean.TestPlanBean">
        insert into test_plan(tp_name,url,description,generater,protocol,server_name_ip,port_num,path,jmx_save_path,create_time) 
        values(#{tpName},#{url},#{description},#{generater},#{protocol},#{serverNameIp},#{portNum},#{path},#{jmxSavePath},datetime())
    </insert>

    <select id="select" parameterType="com.wangc.test_plan.bean.TestPlanBean"
    resultMap="testPlanBean">
        select id,tp_name,url,description,generater,protocol,server_name_ip,port_num,path,jmx_save_path
        from test_plan
        <where>
            <if test="null!=id">
                and id=#{id}
            </if>
            <if test="null!=tpName">
                and tp_name=#{tpName}
            </if>
            <if test="null!=url">
                and url=#{url}
            </if>
            <if test="null!=description">
                and description=#{description}
            </if>
            <if test="null!=generater">
                and generater=#{generater}
            </if>
            <if test="null!=protocol">
                and protocol=#{protocol}
            </if>
            <if test="null!=serverNameIp">
                and server_name_ip=#{serverNameIp}
            </if>
            <if test="null!=portNum">
                and port_num=#{portNum}
            </if>
            <if test="null!=path">
                and path=#{path}
            </if>
        </where> 
    </select>
   
    <select id="update" parameterType="com.wangc.test_plan.bean.TestPlanBean" resultType="java.lang.Integer">
        update test_plan
        <set>
            <if test="tpName != null">
                tp_name = #{tpName,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="generater != null">
                generater = #{generater,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </select>


</mapper>